# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Environment files
.env
.env.*

# AWS credentials
.aws/
credentials

# Go build artifacts
bin/
*.exe
*.out

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
